@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/SpaceMono-Regular.ttf") format("ttf");
}


@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/SpaceMono-Bold.ttf") format("ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

input::placeholder {
    font-family: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}



:root {
    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-200: hsl(227, 100%, 98%);

    --clr-neutral-400: hsl(217, 20%, 51%);
    --clr-neutral-500: hsl(217, 35%, 45%);
    --clr-accent-800: hsl(217, 21%, 21%);

    --clr-primaryDarkMode-800: hsl(222, 41%, 20%);
    --clr-primaryDarkMode-900: hsl(220, 40%, 13%);
    --clr-accentDarkMode-300: hsl(212, 92%, 62%);
    --clr-accentDarkMode-600: hsl(212, 100%, 50%);

    --clr-accent-400: hsl(0, 90%, 66%);

    --max-width-desktop: 1100px;

    /*Typography*/
    --ff-primary: "Space Mono", monospace;
    --ff-body: var(--ff-primary);
    --fs-body: var(--fs-200);
    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.375rem;
    --lh: 25px;
    --fw-regular: 400;
    --fw-bold: 700;
}

/*General Styles*/
body {
    max-width: var(--max-width-desktop);
    margin-inline: auto;
    display: grid;
    place-items: center;
    padding: 1rem;
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    line-height: var(--lh);
    color: var(--clr-primary-200);
    background-color: var(--clr-primaryDarkMode-900)
}

ul {
    list-style: none;
}

a {
    font-size: var(--fs-100);
    text-decoration: none;
    color: var(--clr-primary-200);
    cursor: pointer;
}

/* Mobile styles*/
.component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: var(--fs-300);
}

.theme__toggle {
    position: relative;
    padding: 0.5rem 2rem;
    border: none;
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-primary-100);
    cursor: pointer;
}

.theme__toggle::after {
    position: absolute;
    right: 0;
    top: 0.60rem;
    content: url('../images/icon-sun.svg');
}

.form {
    position: relative;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: var(--fs-100);
    border-radius: 1rem;
    background-color: var(--clr-primaryDarkMode-800);
}

.form::before {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.form__input {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    border: none;
    border-radius: 1rem;
    color: var(--clr-primary-100);
    caret-color: var(--clr-accentDarkMode-600);
    background: transparent;
}

.form__input::placeholder {
    color: var(--clr-primary-100);
}

.form__error-hide {
    display: none;
}

.form__submit {
    margin-left: auto;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--clr-primary-100);
    background-color: var(--clr-accentDarkMode-600);
    cursor: pointer;
}

.form__submit:hover {
    background-color: var(--clr-accentDarkMode-300);
}

.form__error-show {
    display: block;
    position: absolute;
    right: 6rem;
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
}

.profile {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 1rem;
    font-size: var(--fs-100);
    background-color: var(--clr-primaryDarkMode-800);
}

.profile__user {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 0.25fr);
    grid-gap: 0.25rem 1rem;
}

.profile__user__avatar {
    grid-area: 1 / 1 / 5 / 2;
    align-self: center;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

.profile__name {
    grid-area: 1 / 2 / 2 / 7;
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
}

.profile__username {
    grid-area: 2 / 2 / 3 / 7;
    color: var(--clr-accentDarkMode-600);
}

.profile__date {
    grid-area: 3 / 2 / 4 / 7
}

.bio {
    grid-area: 6 / 1 / 7 / 7;
}

.profile__stats {
    align-self: stretch;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--clr-primaryDarkMode-900);
}

.profile__stats-item div:last-child {
    font-weight: var(--fw-bold);
}

.profile__social {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile__link {
    display: flex;
    align-items: center;
}

.profile__link svg {
    min-width: 2rem;
    filter: brightness(5);
}

.profile__link-notfound {
    color: var(--clr-neutral-400);
}

.profile__svg-notfound {
    opacity: 0.5;
}

/* Themes */
.light-theme {
    color: var(--clr-neutral-400);
    background-color: var(--clr-primary-200);
}

.light-theme .header,
.light-theme .theme__toggle {
    font-weight: var(--fw-bold);
    color: var(--clr-accent-800);
}

.light-theme .theme__toggle::after {
    content: url('../images/icon-moon.svg');
}

.light-theme .form,
.light-theme .profile,
.light-theme .profile__link-notfound {
    background-color: var(--clr-primary-100);
}

.light-theme .form__input,
.light-theme .form__input::placeholder {
    color: var(--clr-neutral-400);
}

.light-theme .profile__stats {
    background-color: var(--clr-primary-200);
}


.light-theme .profile__stats-item div:last-child {
    color: var(--clr-accent-800);
}

.light-theme .profile__link a {
    color: var(--clr-neutral-500);
}

.light-theme .profile__link svg {
    filter: brightness(1);
}

@media screen and (min-width:540px) {
    .form__input {
        flex-basis: 60%;
    }

    .profile {
        padding: 2.5rem;
    }

    .profile__user {
        grid-gap: 0rem 1rem;
    }

    .profile__user__avatar {
        max-width: 117px;
        max-height: 117px;
    }

    .profile__name {
        font-size: var(--fs-300);
    }

    .profile__stats {
        justify-content: flex-start;
        gap: 6rem;
        text-align: left;
    }

    .profile__social {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .profile__link {
        flex-basis: 45%;
    }
}

@media screen and (min-width:740px) {
    .component {
        width: 40rem;
    }

    .profile {
        padding: 3rem 0;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 0.5fr 1fr;
        justify-content: center;
        grid-gap: 1.5rem 2.5rem;
    }

    .profile__user {
        grid-area: 1 / 1 / 2 / 3;
        grid-template-rows: repeat(4, 0.25fr);
    }

    .profile__user__avatar {
        grid-area: 1 / 1 / 5 / 2;
    }

    .profile__name {
        grid-area: 1 / 2 / 2 / 4;
        font-size: var(--fs-300);
    }

    .profile__username {
        grid-area: 2 / 2 / 3 / 4;
    }

    .profile__date {
        grid-area: 1 / 5 / 2 / 7;
    }

    .bio {
        grid-area: 4 / 2 / 5 / 7;
    }

    .profile__stats,
    .profile__social {
        grid-column: 2 / 3;
    }

    .profile__stats-item div:last-child {
        font-size: var(--fs-200);
    }
}